<% include partials/header%>

<body>
  <div class="container homepage__text">
    <h1 style="text-align: center;">
      Life <i class="fa fa-heart red" aria-hidden="true"></i> Together
      <i class="fa fa-heart red" aria-hidden="true"></i> Calculator
    </h1>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <hr />
        <p>
          <%= userName %> has known <%= soName %> for
          <span class="bold"><%= userPercent %></span> of their life
        </p>
        <p><%= soName %> has known <%= userName %>
          for <span class="bold"><%= soPercent %></span> of their life.
        </p>
        <p>
          Met <span class="bold"><%= meet %></span> days ago
        </p>
        <p>
          Began dating <span class="bold"><%= dating %></span> days ago
        </p>
        <% if (married) { %>
        <p>
          Married <span class="bold"><%= married %></span> days ago
        </p>
        <% } %>
        <hr />
        <h3>Try it out for yourself!</h3>
        <hr />
        <form action="/life-together-calculator" method="post">
          <div class="form-group">
            <p>Your Name</p>
            <input class="form-control" type="text" name="lifeTogether[yourName]" placeholder="Aragorn" required />
          </div>
          <div class="form-group">
            <p>Your Significant Other's Name</p>
            <input class="form-control" type="text" name="lifeTogether[soName]" placeholder="Arwen" required />
          </div>
          <div class="form-group">
            <p>Your Birthday</p>
            <input class="form-control" type="date" name="lifeTogether[yourBday]" required />
          </div>
          <div class="form-group">
            <p>Your Significant Other's Birthday</p>
            <input class="form-control" type="date" name="lifeTogether[soBday]" required />
          </div>
          <div class="form-group">
            <p>Date Y'all Met</p>
            <input class="form-control" type="date" name="lifeTogether[meetDate]" required />
          </div>
          <div class="form-group">
            <p>Date Y'all Started Dating</p>
            <input class="form-control" type="date" name="lifeTogether[datingDate]" required />
          </div>
          <div class="form-group">
            <p>Date Y'all Were Married (Leave blank if not married)</p>
            <input class="form-control" type="date" name="lifeTogether[marriedDate]" />
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <% include partials/footer%>